---
import FaqSection from './FaqSection.astro';
import {
  instrumental,
  musicianship,
  ensemble,
  groupIntroClass,
  pianoAccompaniment,
  openMasterclass,
} from './FaqData.js';
---

<section class="pt-12">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="mx-auto grid gap-6 text-center lg:gap-2">
      <h1 class="pb-16 text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
        Frequently Asked Questions
      </h1>
      <FaqSection title="Instrument Tuition" questions={instrumental} />
      <FaqSection title="Musicianship and Theory" questions={musicianship} />
      <FaqSection title="Ensembles and Orchestra" questions={ensemble} />
      <FaqSection title="Group Introductory Class" questions={groupIntroClass} />
      <FaqSection title="Piano Accompaniment" questions={pianoAccompaniment} />
      <FaqSection title="Open Masterclass" questions={openMasterclass} />
    </div>
    <p class="mt-24 text-center text-sm text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
      Questions about invoices, fees, lesson specifics, cancellations, tardiness, purchasing
      instruments and music, concert information, or any other inquiries will be addressed in your
      initial lesson. Prior to enrollment, you will receive an email with a copy of the terms and
      conditions for you to review and retain for future use. If you have further questions, please
      don't hesitate to <a href="/contact" class="underline">contact us here</a>.
    </p>
  </div>
</section>
