---
// Import necessary libraries and components if needed
const { title, questions } = Astro.props;
---

<div
  class="mx-auto w-11/12 border-b border-primary-900/10 p-4"
  x-data="{ isOpen: false }"
>
  <h2
    class="cursor-pointer text-3xl font-medium tracking-tight sm:text-4xl"
    @click="isOpen = !isOpen"
  >
    {title}
  </h2>
  <div x-show="isOpen" x-cloak x-collapse>
    <dl
      class="-mt-3"
      x-data="{ selected: null, toggle(value) { this.selected = this.selected === value ? null : value } }"
    >
      {
        questions.map((question, index) => (
          <div
            class="rounded-3xl px-4 transition"
            x-data={`{ id: ${index}, get isOpen() { return this.id === this.selected }, get isNextOpen() { return (this.id + 1) === this.selected } }`}
            x-bind:class="{ 'bg-primary-500/10 dark:bg-primary-400/10': isOpen }"
          >
            <dt
              class="border-b text-lg transition"
              x-cloak
              x-bind:class="{ 'border-transparent': isOpen || isNextOpen, 'border-primary-900/10 dark:border-primary-300/10': !(isOpen || isNextOpen) }"
            >
              <button
                type="button"
                class="group block w-full py-6 pb-0 text-left transition focus-visible:outline-none"
                aria-controls={`question-${index}`}
                x-on:click="toggle(id)"
                aria-expanded="false"
                x-bind:aria-expanded="isOpen.toString()"
              >
                <div class="justify-left flex items-center rounded-3xl text-left group-focus-visible:outline group-focus-visible:outline-2 group-focus-visible:outline-offset-2 group-focus-visible:outline-primary-950 dark:group-focus-visible:outline-primary-200">
                  <span class="font-medium">{question.title}</span>
                  <span class="ml-6 flex h-7 items-center">
                    <!-- Your SVG arrow here -->
                  </span>
                </div>
              </button>
            </dt>
            <dd
              class="m-4 ml-0 pb-6 pr-6 text-left"
              id={`question-${index}`}
              x-show="isOpen"
              x-cloak
              x-collapse
            >
              <p class="text-base text-primary-950/70 dark:text-primary-200/70">
                {question.answer}
              </p>
            </dd>
          </div>
        ))
      }
    </dl>
  </div>
</div>
